# Firebase Configuration
VITE_FIREBASE_API_KEY= AIzaSyD2yX_6cGxLlJ1rAiRrPt-uDcoaTQXJZ9M
VITE_FIREBASE_AUTH_DOMAIN=indiavotes.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=indiavotes
VITE_FIREBASE_STORAGE_BUCKET=indiavotes.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=816726444193
VITE_FIREBASE_APP_ID=1:816726444193:web:3d6da43c46b781ddbec8e0
